extends ./layout.jade

block content
  .container
    .starter-template
      h1(class='my-h1' id='h0-01')= title
      h2= message
      p.lead
        | Now you can start your own project with
        a(target='_blank', href='http://getbootstrap.com/') Bootstrap 3.3.7
        | . This plugin is a fork from
        a(href='https://github.com/le717/brackets-html-skeleton#readme') HTML Skeleton
        | .
      .row
        .col-xs-3
          input.form-control(type='text', ng-model='yourName')
          p Hello {{ yourName }} !
      ul
        each user in users
          li #{user.id}: #{user.name} - #{user.email}
