extends ./layout.jade

block content
  .container
    .starter-div
      h1(class='my-h1' id='h0-01')= title
      h2= message
      .row(data-ng-controller='priceController')
        .col-xs-3
          // input.form-control(type='text', data-ng-model='yourName')
          input.form-control(type='text', data-ng-model='yourPrice')
          // p Hello {{ yourName }} !
          // br
          p Normál ár: {{ yourPrice | currencyFilter}}
          p Te árad: {{ calcOwnprice(yourPrice) | currencyFilter}}
          p Más ár: {{ calcOtherprice(yourPrice) | currencyFilter}}
      .row(data-ng-controller='userController')
        .col-xs-12
          // input.form-control(type='text', data-ng-model='yourName')
          // input.form-control(type='text', data-ng-model='yourPrice')
          // p Hello {{ userName }} !
          // br
          // p Normál ár: {{ yourPrice | currencyFilter}}
          // p Te árad: {{ calcOwnprice(yourPrice) | currencyFilter}}
          // p Más ár: {{ calcOtherprice(yourPrice) | currencyFilter}}
          ul
            //li(data-ng-repeat='user in users')
            include ./userTable.jade
              tr
                td(data-ng-repeat='th in ths')
                  input.form-control(data-ng-if='$index>0 && $index<4', data-ng-model='newUser[th]', data-ng-class='{\'is-error\': formError[th]}')
                  //input(data-ng-if='!$last && !$first', data-ng-model='newUser[th]')
                  button(type='button', class='btn btn-success', data-ng-click='insertRecord(newUser)', data-ng-if='$last')
                    span(class='glyphicon glyphicon-fire')



        // each user in users
        // li #{user.id}: #{user.name} - #{user.email}
